body{
    background-image: url(./imgs/quen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.table{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    font-size: large;
}
a{
    text-decoration: none;
    color: black;
}