body {
    background-color: #d1d1d1;
}

div{
    align-content:flex-end;
}
input {
    border: 2px solid #ffa500;
    width: 650px;
    height: 40px;
    border-radius: 5px;
    text-size-adjust: 100%;
 
}
form{
    align-content:center;
    float:left;
   
}
img {
    float:right;
    align-content: center;
    width: 680px;
    height:auto;
}
h1, h3{
    color:#ffa500;
    align-content:center;
    font-weight:bolder;
}
.head{
    text-align:center;
}
button{
    background-color: black;
    color:#ffa500;
    height: 40px;
 
}
#register{
    float:left;
}
 #login{
     float: right;
 }
::placeholder {
   
    font-size: 1.5em;
}
