body {
    background-color: #d1d1d1;
   
}
@media (max-width: 650px){
    body,form,h1,h3,div,select,label,a
}


input {
    border: 2px solid #ffa500;
    width: 650px;
    height: 40px;
    border-radius: 5px;
    text-size-adjust: 100%;
 
}
.second {
   
    margin-left:500px;
    margin-right: 500px;
    padding-top:2px;
    
}
label{
    font:bolder;
    font-size: 17px;
}

h1, h3 {
    color: #ffa500;
    align-content: center;
    font-weight: bolder;
    text-align: center;
}
.head{
   
}
button {
    background-color: black;
    color: #ffa500;
    height: 30px;
    border-radius: 5px;
    
}
#register{
    float:left;
    width:300px;
   
}
 #login{
     float: right;
     padding-left: 35px;
 }
 img{
     width:100px;
     height:100px;
     float: left;
 }
#person {
    border: 2px solid #ffa500;
    text-decoration-color: #ffa500;
}


::selection {
    background: red;
}